@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$auth-background: #0F42A4;
$font-inter: 'Inter', sans-serif;
$header-blue: #041644;
$login-button-color: #1354D3;
