@import '_config';
@import '_preloader';
@import '_sidebar';
@import '_abstract';



//Button  
%btn {
  background-color: $login-button-color ;
  color: #fff ;
  padding: 10px 10px 28px ;
  font-size: 14px ;
  font-weight: 700 ;
  text-decoration: none ;
  border-color: $login-button-color;
  width: 100% ;
  cursor: pointer ;
  outline: none ;
  -webkit-transition: all 0.3s ease ;
  transition: all 0.3s ease ;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16) ;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16) ;
}

//Container+Breathing
%breathing {
  padding-right: 70px;
  padding-left: 70px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .breathe {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .breathe {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .breathe {
    width: 1170px;
  }
}


.auth{
  &__row{
    height: 100vh;
  }
  &__bg{
    background-color: $auth-background;
    background-image: url(/assets/trail_background_image.png);
    background-size:  400px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.login{
  width: 450px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

  h3 {
    font-weight: 600;
    color: $header-blue;
    font-size: 36px;
    line-height: 40px;
    font-family: $font-inter;
  }
  h5 {
    font-weight: 400;
    color: $header-blue;
    font-size: 20px;
    font-family: $font-inter;
    line-height: 30px;
  }

  p{
    text-align: center;
  }

  &__input{
    height: 40px;
    font-size: 0.9rem;
    border-color: #D7DCE0;
    border: 1px solid #D7DCE0,
  }

  &__btn{
    @extend %btn;
  }
}



.sign-up{
  width: 450px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

  h3 {
    font-weight: 600;
    color: $header-blue;
    font-size: 36px;
    line-height: 40px;
    font-family: $font-inter;
  }
  h5 {
    font-weight: 400;
    color: $header-blue;
    font-size: 20px;
    font-family: $font-inter;
    line-height: 30px;
  }
  h4{
    cursor: pointer;
    float: right;
  }

  p{
    text-align: center;
  }

  &__input{
    height: 40px;
    font-size: 0.9rem;
    border-color: #D7DCE0;
    border: 1px solid #D7DCE0,
  }

  &__btn{
    @extend %btn;
  }
}

.terms-condition{
  &__row{
    height: 100vh;
  }
  &__bg{
    background-color: $auth-background;
    background-image: url(/assets/trail_background_image.png);
    background-size:  400px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .terms-condition__channel{
    height: 80vh;
    overflow: auto;
    margin: 50px;
    .icon{
      font-size: 20px;
      cursor: pointer;
      padding: 4px;
      border: 1px #D7DCE0 solid;
      color: #3A434B;
      margin-right: 10px;
    }
    .section{
      margin-bottom: 20px;
      text-align: justify ;
      text-justify: inter-word ;
      margin-right: 20px;

    }
    h1{
      color: #0E347E;
      position: sticky;
      top: 0;
      margin-bottom: 20px;
      background-color: white;
    }
    h3{
      color: #0D0F11;
    }
    span{
      color: #3A434B;
    }
  }

  .terms-condition__channel::-webkit-scrollbar {
    width: 10px;
  }

  .terms-condition__channel::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

  .terms-condition__channel::-webkit-scrollbar-thumb {
    background: #888;
  }

  .terms-condition__channel::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}

.program{
  display: inline-flex;
  .card{
    width: 300;
    max-height: 320px;  
    height: 350px;
    border: 1px solid #D7DCE0;
    border-radius: 5px;
    margin: 20px;
  }

  .image{
    width: 300px;
    height: 150px;
  }
}

.drop-zone{
  width: 10px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px dashed;
}